// Screen
// ======

@import "grids";
@import "compass/reset";
@import "compass/css3";


/*==============================
=            Colors            =
==============================*/

$bg: #faf7ef;
$primary: #826571;
$secondary: #b27775;

/*-----  End of Colors  ------*/


/*============================
=            Base            =
============================*/

body {
	background: $bg;
	color: $primary;
	&:before {
		content:'';
		background: url(../img/ricepaper-distress.png) repeat;
		position: fixed;
		z-index: 4;
		width: 100%;
		height: 300%;
		@include user-select(none);
		pointer-events: none;
	}
}

/*-----  End of Base  ------*/


/*==================================
=            Typography            =
==================================*/

body {
	font-family: 'Varela Round', 'helvetica', sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

p {
	line-height: 1.5em;
}

a {
	color: $secondary;
	&:hover {
		color: $primary;
	}
}

/*-----  End of Typography  ------*/


/*==============================
=            Layout            =
==============================*/

figure {
	margin: 0 auto 2em;
}

.translation {
	margin-bottom: 2em;
}

header, section, footer, figure.seperator {
	@include container(960px);
	margin: 0 auto;
	:last-child { margin-bottom: 0 !important; }
}

figure.seperator { margin: 3em auto; }

header {
	text-align: center;
	#note { margin: 1em 0 2em; }
	#triforce {
		width: 33%;
	}
	#zeldicons {
		width: 66%;
	}
}

span.x {
	&:after, &:before {
		content: '';
		position: absolute;
		border-right: 2px solid $primary;
		display: block;
		height: 10px;
		margin-top: .4em;
		@include transform(rotate(45deg));
	}
	&:after {
		@include transform(rotate(-45deg));
	}
	&:last-child {
		float: right;
	}
}

#icons {
	.icon {
		text-align: center;
		margin-bottom: 3em;
		.icon-info {
			font-size: 15px;
			color: $secondary;
			margin-top: 1em;
			padding: 0.25em;
			border: 2px solid $primary;
			border-width: 2px 0 2px;
		}
	}
}

pre, .btn {
	display: block;
	border: 2px solid $secondary;
	color: $primary;
	height: 3em;
	line-height: 3em;
	padding: 0 1.5em;
	margin-bottom: 2em;
}
.btn {
	color: $bg;
	background: $secondary;
	cursor: pointer;
	&:hover {
		color: $bg;
		background: $primary;
		border-color: $primary;
	}
}

#guide {
	text-align: center;
	#hero-guide {
		width: 45%;
	}
	.step {
		header {
			text-transform: uppercase;
			margin-bottom: 2em;
		}
		p {
			text-align: left;
		}
	}
}

footer {
	#hearts { width: 125px; }
	text-align: center;
	padding-bottom: 3em;
}

/*-----  End of Layout  ------*/



